<div class="apply-page">
  <div>
    <div class="apply-form">
      <h2>Apply</h2>
    </div>
    
    <div class="apply-form">
      <form class="form-add-vacancy" id="form" action="/vacancy/apply" method="POST">
        <label for="title">Title</label>
        <p>{{vacancy.title}}</p>
        
        <label for="description">Description</label>
        <p>{{vacancy.description}}</p>

        <label for="description">Category</label>
        <p>{{vacancy.category}}</p>

        <label for="description">Tags</label>
        <p>{{vacancy.tags}}</p>

        <label for="description">Location</label>
        <p>{{vacancy.location}}</p>
        
        <label for="description">Contract</label>
        <p>{{vacancy.contract}}</p>

        <a class="btn-form" href="mailto:test@example.com?subject=Testing out mailto!&body=This is only a test!">E-Mail the Company:</a>

        <a class="btn-secondary-apply" href="/vacancies">Back to list</a>
      </form>
    </div>
  </div>
</div>