<h1>Apply</h1>
<form class="form-add-vacancy" id="form" action="/vacancy/apply" method="POST">

  <label for="title">Title</label>
  <input type="text" name="title" value="{{vacancy.title}}" />
  
  <br>
  
  <label for="description">Description</label>
  <input type="text" name="description" value="{{vacancy.description}}">
    
  <br>
  
  <label for="description">Category</label>
  <input type="text" name="description" value="{{vacancy.category}}">
    
  <br>
  
  <label for="description">Tags</label>
  <input type="text" name="description" value="{{vacancy.tags}}">
  
  <br>
  
  <label for="description">Location</label>
  <input type="text" name="description" value="{{vacancy.location}}">
  
  <br>
  
  <label for="description">Contract</label>
  <input type="text" name="description" value="{{vacancy.contract}}">

  <a class="btn-form" href="mailto:test@example.com?subject=Testing out mailto!&body=This is only a test!">E-Mail the Company:</a>

</form>

<a class="btn-secondary-apply" href="/vacancies" style="text-decoration: underline">Back to list</a>