<h1 class="title">Vacancy</h1>
<div class="container column">
  <div class="card">
    {{#ifCompany user }}

    {{else}}
    <div class="card-top-btn-group-end">
      <a href="/vacancy/save/{{vacancy._id}}" class="edit-icon edit-item" type="submit">
        <img src="/images/heart.svg" alt="" />
      </a>
    </div>
    {{/ifCompany}}
    <h2 class="card-title">{{vacancy.title}}</h2>
    <p class="card-title">Description: {{vacancy.description}}</p>
    <p class="card-title">Category: {{vacancy.category}}</p>
    <p class="card-title">Tags:
      {{#each vacancy.tags}}
      <strong>{{this}} </strong>
      {{/each}}
    </p>
    <p class="card-title">Location: {{vacancy.location}}</p>
    <p class="card-title">Company: {{vacancy.companyId.displayName}}</p>
    <p class="card-title">Contract: {{vacancy.contract}}</p>
    {{#ifCompany user }}

    {{else}}


    <a class="btn-apply" href="/apply/{{vacancy._id}}">Apply now!</a>

    {{/ifCompany}}
  </div>
  <a class="btn-primary" href="/vacancies">Back</a>
</div>