<h1>Edit Vacancy</h1>
<form class="form-add-vacancy" id="form" action="/vacancy/edit/{{vacancy._id}}" method="POST">

  <label for="title">Title</label>
  <input type="text" name="title" class="input-text" value="{{vacancy.title}}" />

  <label for="description">Description</label>
  <textarea name="description" class="input-text" id="description" cols="30" rows="10"
    required>{{vacancy.description}}</textarea>

  <label for="category">Category</label>
  <input type="text" name="category" class="input-text" value="{{vacancy.category}}" />

  <label for="tags">Tags</label>
  <input type="text" name="tags" class="input-text" value="{{vacancy.tags}}" />

  <label for="location">Location</label>
  <input type="text" name="location" class="input-text" value="{{vacancy.location}}" />

  <label for="contract">Contract</label>
  <select name="contract" class="input-text" id="contract" required>
    <option value="" selected disabled hidden>Contract</option>
    <option value="{{vacancy.contract}}" selected>{{vacancy.contract}}</option>
    <option value="full time">Full time</option>
    <option value="part time">Part time</option>
  </select>
  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}

  <button class="btn-apply" type="submit">Update</button>
</form>

<a href="/vacancies">Back to list</a>