<h1>Edit Vacancy</h1>
<form class="form-add-vacancy" id="form" action="/vacancy/edit/{{vacancy._id}}" method="POST">

  <label for="title">Title</label>
  <input type="text" name="title" value="{{vacancy.title}}" />

  <label for="description">Description</label>
  <input type="text" name="description" value="{{vacancy.description}}" />

  <label for="category">Category</label>
  <input type="text" name="category" value="{{vacancy.category}}" />

  <label for="tags">Tags</label>
  <input type="text" name="tags" value="{{vacancy.tags}}" />

  <label for="location">Location</label>
  <input type="text" name="location" value="{{vacancy.location}}" />

  <label for="contract">Contract</label>
  <input type="text" name="contract" value="{{vacancy.contract}}" />

  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}

  <button class="btn-primary" type="submit">Edit Vacancy</button>
</form>

<a href="/">Home</a>
<a href="/vacancies">Back to list</a>