<div class="user-info">
  <img class="user-avatar" src="{{user.avatarUrl}}" />
  <h2 class="user-name">{{user.displayName}}</h2>
  <div class="edit-perfil">
    <span>
      <form class="" action="/profile" method="GET">
        <button class="edit-icon edit-item" type="submit">
          <img src="/images/profile.svg" alt="">
          <span>Profile</span>
        </button>
      </form>
    </span>
  </div>
</div>
<a class="btn-primary center" href="/vacancy/create">Add new Vacancy</a>
<form class="find-form" action="/vacancies/filters" method="GET">
  <input id="find-input" type="text" class="find-input" placeholder="Search for title" name="title">
  <input id="find-input" type="text" class="find-input" placeholder="Search for Tags" name="tags">
  <select name="category" id="category">
    <option value="" selected disabled hidden>Category</option>
    {{#each uniqueCategories}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <select name="location" id="location">
    <option value="" selected disabled hidden>Location</option>
    {{#each uniqueLocations}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <button class="btn-primary" type="submit">Find</button>
</form>
</div>
{{#if filters}}
<ul>Filters:
  {{#each filters}}
  {{#if this}}
  <li class="filters-item">{{this}}</li>
  {{/if}}
  {{/each}}
</ul>
{{/if}}
<form class="find-form" action="/vacancies" method="GET">
  <button class="btn-reset" type="submit">Delete filters</button>
</form>

<div class="container">
  {{#unless vacancies}}
  <div class="text-warning">
    <h2 class="warning">You not found Vacancies</h2>
  </div>
  {{/unless}}

  {{#each vacancies}}
  <div class="card">

    <div class="card-top-btn-group">
      <span>
        <form action="/vacancy/edit/{{_id}}" method="GET">
          <button class="card-btn-icon" type="submit"><img src="/images/edit-icon.svg" alt=""></button>
        </form>
      </span>
      <span>
        <form action="/vacancy/delete/{{_id}}" method="POST">
          <button class="card-btn-icon" type="submit"><img src="/images/delete-icon.svg" alt=""></button>
        </form>
      </span>
    </div>


    <h2 class="card-title"><strong>{{title}}</strong></h2>
    <div class="card-body">
      <p class="card-description">Company: {{companyId.displayName}}</p>
      <p class="card-description">Category: {{category}}</p>
      <p class="card-description">Location: {{location}}</p>
      <div class="card-tags">
        {{#each tags}}
        <span class="card-tags-item">{{this}}</span>
        {{/each}}
      </div>
    </div>
    <a class="btn-primary" href="/vacancy/details/{{_id}}">See more</a>
  </div>
  {{/each}}
</div>